/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3.3rem;
  --font-medium: 500;
}

/*===== Colores =====*/
:root {
  --first-color: black;
  --white-color: #fafaff;
  --dark-color: #2a3b47;
  --text-color: #697477;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: "Montserrat", sans-serif;
  --big-font-size: 6.25rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 9.6rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
}

/* ===== z index ===== */
:root {
  --z-fixed: 100;
}
/* ===== Basic ===== */

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
  /* line-height: 1.6; */
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
/*===== CLASS CSS ===== */

/*===== Start preloader  ===== */

 .preloader {
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
}
.preloader > div {
  border: 1px solid #ddd;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ddd;
  margin: 7px;
  animation-name: up-and-down;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.preloader .two {
  animation-delay: 0.3s;
}
.preloader .three {
  animation-delay: 0.6s;
}
@keyframes up-and-down {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
    transform: translateY(-20px);
  }
}
.remove {
  visibility: hidden;
  opacity: 0;
  display: none;
} 
/*===== End preloader  ===== */

/*===== Start header  ===== */
.header {
  width: 100%;
}
.header .container {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  background: var(--first-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0;
  z-index: var(--z-fixed);
}
.container .nav_logo {
  flex-basis: 35%;
  text-align: center;
}
.nav_logo a {
  text-decoration: none;
  font-size: var(--normal-font-size);
  color: var(--white-color);
  font-weight: var(--big-font-size);
}
.container .nav_list {
  flex-basis: 50%;
}

.container .nav_list .nav_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container .nav_list .nav_item .nav-link {
  width: 100px;
  position: relative;
  transition: all 0.5s;
}
.container .nav_list .nav_item .nav-link a {
  font-size: var(--normal-font-size);
  color: var(--white-color);
  font-weight: var(--big-font-size);
}
.active::after {
  position: absolute;
  content: "";
  width: 60px;
  margin: auto;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--white-color);
}

.container .nav_toggle {
  color: var(--white-color);
  margin-right: 20px;
  font-size: var(--h2-font-size);
  cursor: pointer;
  display: none;
}
/*===== End header  ===== */

/*===== Start HOME  ===== */
.home {
  background: var(--first-color);
  overflow: hidden;
}
.home_container {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
.home_part1 {
  flex-basis: 50%;
  position: relative;
}
.home_part1 .home_title {
  position: absolute;
  left: 12%;
  align-self: flex-end;
  font-size: var(--big-font-size);
  color: var(--white-color);
  line-height: 0.8;
}

.home_title span {
  text-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
}
.Scroll {
  align-self: flex-start;
  padding-bottom: var(--mb-4);
  position: absolute;
  left: 12%;
  top: 80%;
}
.Scroll a {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  color: var(--white-color);
  font-size: var(--small-font-size);
}
.home_part2 {
  flex-basis: 50%;
  position: relative;
}
.home_part2 img {
  position: absolute;
  right: 30%;
  bottom: 0;
  width: 300px;
}
/*===== End HOME  ===== */
/*===== Start ABOUT  ===== */
.about {
  padding: 50px 0;
}
.about_title {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about_title h1 {
  font-size: var(--h2-font-size);
  color: var(--dark-color);
}
.about_title ::after {
  position: absolute;
  content: "";
  width: 65px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 4.3rem;
  background-color: var(--first-color);
}
.about_container {
  padding-top: 1rem;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about_container .about_part_1 {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.about_part_1 img {
  border-radius: 50%;
  width: 160px;
  height: 140px;
  background: var(--first-color);
}
.about_container .about_part_2 {
  flex-basis: 50%;
  padding-top: 2rem;
}
.about_part_2 h2 {
  color: var(--first-color);
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1);
}
.about_part_2 small {
  color: var(--text-color);
}
.about_part_2 p {
  width: 100%;
  line-height: 1.5;
  padding-top: 1rem;
}
.about_part_2 .list_5 ul {
  display: flex;
  font-size: 1.4rem;
}
.about_part_2 .list_5 ul li a {
  padding-right: 15px;
}
.about_part_2 .list_5 ul li a:hover {
  color: var(--first-color);
}

/*===== End ABOUT  ===== */
/*===== Start  skills  ===== */
.skills {
  padding: 50px 0;
}
.skills_title {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.skills_title h1 {
  font-size: var(--h2-font-size);
  color: var(--dark-color);
}
.skills_title ::after {
  position: absolute;
  content: "";
  width: 65px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 4.3rem;
  background-color: var(--first-color);
}
.skills_container {
  padding-top: 1rem;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.skills_part_1 {
  flex-basis: 50%;
  padding-top: 2rem;
}
.skills_part_2 {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.skills_container h1 {
  color: var(--first-color);
  font-size: var(--font-medium);
  font-weight: bold;
}
.skills_list ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}
.skills_list ul li {
  justify-content: flex-start;
  padding: 7px;
  margin: 10px;
  font-size: var(--small-font-size);
  border-radius: 0.25rem;
  background: var(--white-color);
}
.skills_list ul li:hover {
  background-color: var(--first-color);
  color: var(--white-color);
}
/*===== End skills  ===== */
/*===== Start PORTFOLIO   ===== */
.protfolio {
  padding: 50px 0;
}
.protfolio_title {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.protfolio_title h1 {
  font-size: var(--h2-font-size);
  color: var(--dark-color);
}
.protfolio_title ::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 4.3rem;
  background-color: var(--first-color);
}
.protfolio {
  width: 100%;
  background: var(--white-color);
}
.protfolio_container {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
}
.protfolio_container .project {
  flex-basis: 30%;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
}
.project img {
  border-radius: 0.5rem;
}
.project span {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -100%;
  transition: 0.5s;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.5rem;
  cursor: pointer;
  backdrop-filter: blur(10px);
}
.protfolio_container .project:hover span {
  bottom: 0;
}

/*===== End PORTFOLIO  ===== */
/*=====    Start CONTACT ===== */
.contact {
  padding: 50px 0;
}
.contact_title {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contact_title h1 {
  font-size: var(--h2-font-size);
  color: var(--dark-color);
}
.contact_title ::after {
  position: absolute;
  content: "";
  width: 84px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 4.3rem;
  background-color: var(--first-color);
}
.contact_container {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
}
.contact_part_1 {
  flex-basis: 50%;
  display: flex;
}
.contact_part_1 h4 {
  color: var(--first-color);
  font-size: var(--normal-font-size);
}
.contact_part_1 span {
  color: var(--text-color);
}
.contact_info {
  width: 100%;
}
.contact_info p {
  line-height: 1.5;
}
.contact_part_2 {
  flex-basis: 50%;
}
.contact_form {
  width: 80%;
}
.contact_inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.8rem;
}
.contact_input {
  width: 100%;
  padding: 0.8rem;
  outline: none;
  border: 1.5px solid var(--dark-color);
  font-size: var(--normal-font-size);
  margin-bottom: 10px;
  border-radius: 0.5rem;
}
.contact_button {
  display: block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 0.75rem 2.5rem;
  margin-left: auto;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
}
/*===== End CONTACT  ===== */
/*===== Start footer  ===== */
.footer {
  padding: 20px 0;
  width: 100%;
  background: var(--dark-color);
}
.footer_container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto;
}
.footer h4 {
  font-size: var(--normal-font-size);
  color: var(--white-color);
  margin-bottom: var(--mb-2);
}
.footer_info {
  flex-basis: 45%;
}
.footer_info p {
  line-height: 1.5;
}
.footer_list .nav_item {
  padding-left: 0;
}
.footer_list .nav_item .nav-link {
  line-height: 1.7;
}
.footer_list .nav_item .nav-link a:hover {
  color: var(--first-color);
}
.footer_explore {
  flex-basis: 35%;
}
.footer_follow {
  flex-basis: 20%;
}
.footer_follow .list_5 {
  display: flex;
  text-align: center;
}
.list_5 a {
  padding: 10px;
}

/*===== End footer  ===== */
